<link rel="stylesheet" type="text/css" href="../../pages/cobrosClient/cobrosClient.style.css">



<!--<svg ng-show="loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1728 1296">
	<rect x="153.55" y="492.48" width="311.04" height="311.04" fill="#ff499e" />
	<rect x="519.55" y="492.48" width="311.04" height="311.04" fill="#99267e" />
	<rect x="883.41" y="492.48" width="311.04" height="311.04" fill="#9c5ea8" />
	<rect x="1263.41" y="492.48" width="311.04" height="311.04" fill="#798fd4" />
    
  </svg>-->

  <br><br>
  <br><br>
  <br><br>


  <div class="container" ng-show="loading">
    <div id="building">
      
        <div id="caption" class="caption-title">
                Realizando Cobro ...
        </div>
    </div>
</div>


<svg ng-show="loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1728 1296">
	<rect x="153.55" y="492.48" width="311.04" height="311.04" fill="#ff499e" />
	<rect x="519.55" y="492.48" width="311.04" height="311.04" fill="#99267e" />
	<rect x="883.41" y="492.48" width="311.04" height="311.04" fill="#9c5ea8" />
	<rect x="1263.41" y="492.48" width="311.04" height="311.04" fill="#798fd4" />
</svg>







<div class=" card container" ng-hide="hideForm">

 
     
   

<div class="col-md-12">
    <div class="row">
        <div class="col-md-9"> 
            <div class="capitalFont ng-binding"> Nombre : {{nombre}} </div> 
            <span class="capitalFont2 ng-binding"> Prestamo = Q {{prestamo}} </span>
            <div class="capitalFont2 ng-binding"> Total + Interes% Q {{interes}} </div>
            <span class="capitalFont2 ng-binding green"> Pago Diario Q {{pagoDiario}} </span>
            <span class="capitalFont2"> | | |  </span>
            <span class="capitalFont2 ng-binding red"> Debe Q {{debe}} </span>
            
        </div>	
    </div>
  
        <br>

    <div class="row newForm" ng-hide="hideForm">
      
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <label><strong>Fecha *</strong> </label>
            <input ng-model="date" type="date" class="ng-pristine ng-untouched ng-valid ng-empty">
        </div>
        
        <div class="col-md-4">
            <label><strong>Pago *</strong> </label>
            <input ng-model="abono" type="number" class="ng-pristine ng-untouched ng-valid ng-empty">
        </div>

        <div class="col-md-2">
                <br>
            <button class="btn btn-warning buttonPago" ng-click="cobrar()"> Realizar Pago</button>
        </div>
    </div>        
          
            <br>
            <br>
        
        
      
            
        
</div>
</div>
    


