
/*Calidation styles*/
/*Only on focus*/

textarea {
    width: 100%;
    background: #A1ABB5;
    transition: all 0.3s;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #888;
    color: #666;
    font-size: 25px;
    margin: 10px 0;
    line-height: 45px;
}

.red{color: red;}
.green{ color: green;}
.caption-title{ font-size: 20px;}

svg {
    display: block;
    width: 50%;
    margin: -190px auto;
    height: 100vh;
}