<link rel="stylesheet" type="text/css" href="../../pages/prestamos/prestamos.style.css">

<br>
<br>
<br>
<br>
<br>
<br>

<div class="container" ng-show="loading">
        <div id="building">
          
            <div id="caption" class="caption-title">
                    Agregando cliente ...
            </div>
        </div>
    </div>
    <svg ng-show="loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1728 1296">
            <rect x="153.55" y="492.48" width="311.04" height="311.04" fill="#ff499e" />
            <rect x="519.55" y="492.48" width="311.04" height="311.04" fill="#99267e" />
            <rect x="883.41" y="492.48" width="311.04" height="311.04" fill="#9c5ea8" />
            <rect x="1263.41" y="492.48" width="311.04" height="311.04" fill="#798fd4" />
    </svg>
    

<div class="card container" ng-hide="hideForm">

        <br>
             
        
        <div class="row" >
                <div class="col-md-4"><h3>FORMULARIO</h3></div>
        </div>
        
        <div class="row newForm" ng-hide="hideForm">

                <div class="col-md-4">DATOS DEL CLIENTE</div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                <label><strong>Fecha *</strong> </label>
                <input ng-model="date" type="date" ng-disabled="checked" required="" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
                <span>{{fechaERROR}}</span>
                </div>

        
                <div class="col-md-4">
                <label><strong>Nombre y apellidos *</strong> </label>
                <input ng-model="nombre" type="text" ng-disabled="checked" required>
                <span>{{nombreERROR}}</span>
                </div>


                <div class="col-md-4">
                <label><strong>DPI *</strong> </label>
                <input ng-model="DPI" type="number" maxlength="13" ng-disabled="checked" required>
                <span>{{dpiERROR}}</span>
                </div>

                <div class="col-md-4">
                <label><strong>Telefono *</strong> </label>
                <input ng-model="telefono" type="number" ng-minlength="8" ng-maxlength="8" ng-disabled="checked" required>
                <span>{{telefonoError}}</span>
                </div>
                                

                <div class="col-md-12">
                <label><strong>Direccion o Residencia *</strong> </label>
                <input ng-model="direccion" type="text" ng-disabled="checked" required>
                </div>


                <div class="col-md-12">
                <label><strong>Nombre o direccion del negocio *</strong> </label>
                <input ng-model="negocio" type="text" ng-disabled="checked" required>
                </div>

                <div class="col-md-4">         
                <label><strong>Capital prestado *</strong> </label>
                <select ng-model="prestamo" class="custom-select" ng-disabled="checked">
                        <option ng-repeat="p in prestamos">{{p.prestamo}}</option>
                </select>
                <!--<input ng-model="prestamo" type="number" maxlength="4" ng-disabled="checked" required>-->
                <span>{{prestamoERROR}}</span>
                </div>


                <div class="col-md-4">
                <label><strong>Plan *</strong> </label>
                <select ng-model="plan" class="custom-select" ng-disabled="checked">
                        <option ng-repeat="p in planes">{{p.plan}}</option>
                </select>
                <!--<input ng-model="plan" type="number" maxlength="2" ng-disabled="checked" required>-->
                </div>


                <div class="col-md-4 text-right">
                        <br>
                        <button class="btn btn-warning" type="submit" ng-click="enviarNuevoCliente()" ng-disabled="checked"> GUARDAR 
                        </button>
                        <br>
                        <br>
                </div>
               

        </div>
                   
</div>

<br>
<br>
