<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Presta Diario</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel="stylesheet" href="app.css">
  <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>



  <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-datepicker/2.1.23/angular-datepicker.css" rel="stylesheet" type="text/css" />
 
  

</head>
<body>
   <!--[if lt IE 7]>
  <ul class="menu">
    <li><a href="#!/view1">view1</a></li>
    <li><a href="#!/view2">view2</a></li>
  </ul>

      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- HEADER START-->
<header id="header">
  <div class="content">
    <div id="logo"><a href="#!/dashboard"> PRESTA DIARIO </a></div>
    <nav id="nav">
      <ul id="slidenav" ng-hide="!user">
        <li><a href="#!/dashboard" title="Next Section">Panel</a></li>
          <li><a href="#!/clientes" title="Next Section">Clientes</a></li>
          
          <li><a href="#!/prestamos" title="Next Section">Prestar</a></li>
            <li><a href="#!/cobros" title="Next Section">Cobrar</a></li>
          <li><a href="#!/planes" title="Next Section">Planes</a></li>         
          <li><a  ng-click="logOut()">Salir</a></li>
      </ul>


   

      <ul ng-hide="!user" id="slidenavdesktop">
        <li><a href="#!/dashboard" title="Next Section">Panel</a></li>
        <li><a href="#!/clientes" title="Next Section">Clientes</a></li>
        
        <li><a href="#!/prestamos" title="Next Section">Prestar</a></li>
        <li><a href="#!/cobros" title="Next Section">Cobrar</a></li>
        <li><a href="#!/planes" title="Next Section">Planes</a></li>
        <li class="pointer"><a ng-click="logOut()">Salir</a></li>
        
      </ul>


    </nav>
  </div>
</header>

 




  <div ng-view class="ng-view-background"></div>




  

 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>

<script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
<script src="https://assets.codepen.io/16327/MorphSVGPlugin3.min.js"></script>





  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="app.js"></script>

  <script src="pages/home/home.controller.js"></script>
  <script src="pages/clientes/clientes.controller.js"></script>
  <script src="pages/nosotros/nosotros.controller.js"></script>
  <script src="pages/planes/planes.controller.js"></script>
  <script src="pages/login/login.controller.js"></script>
  <script src="pages/historial/historial.controller.js"></script>
  <script src="pages/ingresos/ingresos.controller.js"></script>
 <script src="pages/prestamos/prestamos.controller.js"></script>
 <script src="pages/cobros/cobros.controller.js"></script>
 <script src="pages/cobrosClient/cobrosClient.controller.js"></script>
 <script src="pages/reportes/reportes.controller.js"></script>



   
   <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
   <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>


   

   <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-datepicker/2.1.23/angular-datepicker.js"></script> 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-base64/2.0.5/angular-base64.min.js"></script>

  
  
   <script src="core/version/version.js"></script>
  <script src="core/version/version-directive.js"></script>
  <script src="core/version/interpolate-filter.js"></script>



<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>

<!--<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>-->
<!--<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>-->
<!--<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-storage.js"></script>-->
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
/*
const firebase = require("firebase");
  require("firebase/firestore");
  firebase.initializeApp({
    apiKey: "AIzaSyCkk4W8xBCoZEfAYhnpk-RBSUplQ2j5FMM",
    authDomain: "presta-diario.firebaseapp.com",
    databaseURL: "https://presta-diario.firebaseio.com",
    projectId: "presta-diario",
    storageBucket: "presta-diario.appspot.com",
    messagingSenderId: "438205441644",
    appId: "1:438205441644:web:50110328e5e920df"
});
*/



  var firebaseConfig = {
    apiKey: "AIzaSyCkk4W8xBCoZEfAYhnpk-RBSUplQ2j5FMM",
    authDomain: "presta-diario.firebaseapp.com",
    databaseURL: "https://presta-diario.firebaseio.com",
    projectId: "presta-diario",
    storageBucket: "presta-diario.appspot.com",
    messagingSenderId: "438205441644",
    appId: "1:438205441644:web:a25ac60749906598"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

//const auth = firebase.auth();
//const db = firebase.firestore();
//var storage = firebase.storage();

</script>




<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
/* prepend menu icon */
$('#nav').prepend('<div id="menu-icon"></div>');
/* toggle nav */
$("#menu-icon, #slidenav li").on("click", function(){
  $("#slidenav").slideToggle();
  $(this).toggleClass("active");
});
</script>




</body>
</html>

