
  <link rel="stylesheet" type="text/css" href="../../pages/ingresos/ingresos.style.css">

 
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<div class="container" ng-show="loading">
	<div id="building">
	  
		<div id="caption" class="caption-title">
				Cargando ...
		</div>
	</div>
	<svg ng-show="loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1728 1296">
		<rect x="153.55" y="492.48" width="311.04" height="311.04" fill="#ff499e" />
		<rect x="519.55" y="492.48" width="311.04" height="311.04" fill="#99267e" />
		<rect x="883.41" y="492.48" width="311.04" height="311.04" fill="#9c5ea8" />
		<rect x="1263.41" y="492.48" width="311.04" height="311.04" fill="#798fd4" />
	</svg>

</div>


  
 <div class="container" ng-hide="hideForm">
   

	
	<div class="row">
		<div class="col-sm-4" >
	<a href="#!/clientes">
		  <div class="card card1Color" >
			<div class="card-body">
			  <h5 class="card-title">
				  <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>  Clientes</h5>
				<hr>
			  <p class="card-text capitalQ" ng-repeat="c in countClient">{{c.contadorClientes}}</p>
			</div>
		  </div>
		</a>
		</div>
	
		<div class="col-sm-4">
			<a href="#!/getreport">
			<div class="card card2Color">
			  <div class="card-body">
				<h5 class="card-title">
					<i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i> Prestamos e Intereses %</h5>
				<hr>
				<p class="card-text capitalQ" ng-repeat="c in capital">Q.{{c.deuda  | number:2}}</p>
			  </div>
			</div>
		</a>
		  </div>
	
		  <div class="col-sm-4">
			<a href="#!/cobros">
				<div class="card card1Color">
				<div class="card-body">
					<h5 class="card-title">
						<i class="fa fa-hourglass-half fa-2x" aria-hidden="true"></i> Cobros</h5>
					<hr>
					<p class="card-text">Listado de clientes a cobrar.</p>
				</div>
				</div>
			</a>
		  </div>
		  
	
	  </div>
	
	
	  <br><br>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="card cardColor">
			<div class="card-body">
			  <h5 class="card-title">
				  <i class="fa fa-quora fa-2x" aria-hidden="true"></i> Capital Prestado</h5>
			 <hr> 
			  <p class="card-text capitalQ" ng-repeat="c in capital" numberFormatter>Q.{{c.capital | number:2}}</p>
			</div>
		  </div>
		</div>
	
		<div class="col-sm-6">
			<div class="card cardGainColor">
			  <div class="card-body">
				<h5 class="card-title">
					<i class="fa fa-line-chart fa-2x" aria-hidden="true"></i> Total Ganancias</h5>
				<hr> 
				<p class="card-text capitalQ" ng-repeat="c in capital">Q.{{c.resultado | number:2}}</p>
				
			  </div>
			</div>
		  </div>
	
		 
		  
	
	  </div>
	
	
	
	
</div>



