
  <link rel="stylesheet" type="text/css" href="../../pages/ingresos/ingresos.style.css">

 
  <div class="container">
   

	<br>
	<br>
	

	<br>
	<br>
	

	<br>
	<br>
	
	
	
	
		
		
	<div class="row">
		<div class="col-sm-4" >
	
		  <div class="card card1Color">
			<div class="card-body">
			  <h5 class="card-title">
				  <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>  Clientes</h5>
				<hr>
			  <p class="card-text capitalQ" ng-repeat="c in countClient">{{c.contadorClientes}}</p>
			</div>
		  </div>
		
		</div>
	
		<div class="col-sm-4">
			
			<div class="card card2Color">
			  <div class="card-body">
				<h5 class="card-title">
					<i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i> Prestamos e Intereses %</h5>
				<hr>
				<p class="card-text capitalQ" ng-repeat="c in capital">Q.{{c.deuda  | number:2}}</p>
			  </div>
			</div>
		
		  </div>
	
		  <div class="col-sm-4">
			 
			<div class="card card1Color">
			  <div class="card-body">
				<h5 class="card-title">
					<i class="fa fa-hourglass-half fa-2x" aria-hidden="true"></i> Cobros</h5>
				<hr>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
			  </div>
			</div>
		
		  </div>
		  
	
	  </div>
	
	
	  <br><br>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="card cardColor">
			<div class="card-body">
			  <h5 class="card-title">
				  <i class="fa fa-quora fa-2x" aria-hidden="true"></i> Capital Prestado</h5>
			 <hr> 
			  <p class="card-text capitalQ" ng-repeat="c in capital" numberFormatter>Q.{{c.capital | number:2}}</p>
			</div>
		  </div>
		</div>
	
		<div class="col-sm-6">
			<div class="card cardGainColor">
			  <div class="card-body">
				<h5 class="card-title">
					<i class="fa fa-line-chart fa-2x" aria-hidden="true"></i> Total Ganancias</h5>
				<hr> 
				<p class="card-text capitalQ" ng-repeat="c in capital">Q.{{c.resultado | number:2}}</p>
				
			  </div>
			</div>
		  </div>
	
		 
		  
	
	  </div>
	
	
	
	
	</div>



