
/*General Input*/
input{


    width: 77%;
    background: #A1ABB5;
    transition: all 0.3s;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #888;
    color: #666;
    font-size: 20px;
    line-height: 45px;
    height: 36px;
}



/*Calidation styles*/
/*Only on focus*/



table {
	width: 100%;
}

thead{
	background-color: cornflowerblue;
}


th{
	padding: 10px;
}
 /*


tr:nth-child(odd) {
  background-color: #ccc; 
}
*/
td {
	padding: 0.25em 0.5em;
}

@media (max-width: 500px) {
	table,
	thead, 
	tbody, 
	th, 
	td, 
	tr {
		display: block;
		overflow: hidden;
	}
	
	/*thead {
		tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}
	
	tr:nth-child(odd) {
		td {
			border-bottom: 1px solid #aaa;
		}
	}
	
	td {
  	display: flex;
		border-bottom: 1px solid #ccc;
		
		&:before { content: attr(data-label)": ";
			flex: 0 0 5em;
			font-weight: bold;
			margin-right: 1em;
			margin-bottom: 0.25em;
		}
	}*/
    
}


/* defaults */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.pointer {
	cursor: pointer;
}





table { 
    width: 100%;
    border-collapse: collapse;
    background: #c0c0c0;
    color: #000000;
    font-weight: 500;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #e1e0c9;
    color: black;
}

th { 
  background: #2c3e50; 
  font-weight: bold; 
}

.theadColor {
	color: white;

}



.totalBackGroundColor {
    background-color: #4d7e4d73;
}

.clientReportTransform{
    text-transform: capitalize;
}

.buttonwidth{
    width: 100%;
}