
/*General Input*/
input{


    width: 77%;
    background: #A1ABB5;
    transition: all 0.3s;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #888;
    color: #666;
    font-size: 20px;
    line-height: 45px;
    height: 36px;
}

.total{
	font-size: 20px;
    font-weight: 600;
	color: green;
}

/*Calidation styles*/
/*Only on focus*/




.pointer {
	cursor: pointer;
}













/*tabla reportes***/
    
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }



svg {
    display: block;
    width: 50%;
    margin: -190px auto;
    height: 100vh;
  }
  
